$green: #8eb059;
$extra-lightgreen: #f7f9f3;
$line-green: #e8eedf;

.composition .container__inner {
    position: relative;
}

.composition__title {
    text-align: center;
    max-width: 450px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

.composition__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 595px;
    gap: 15px;
}

.composition__list-item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 290px;
    height: 290px;
    padding: 15px;
    color: $green;
    background-color: $extra-lightgreen;

    &--secret {
        position: relative;
        &:before {
            content: '?';
            font-size: 200px;
            font-weight: 700;
            color: $line-green;
        }
    }

    &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 1;
    }

    &:nth-child(1):before {
        content: url(../img/angelica-archangelica.png);
    }

    &:nth-child(2):before {
        content: url(../img/carlina-acaulis.png);
    }
    
    &:nth-child(3):before {
        content: url(../img/cunnamomum-camphora.png);
    }
        
    &:nth-child(4):before {
        content: url(../img/fraxinus-ornus.png);
    }
            
    &:nth-child(5):before {
        content: url(../img/cammiphora-molmol.png);
    }
}

.composition__list-item-number {
    font-size: 1.5rem;
    font-weight: 700;
    z-index: 2;
}

.composition__list-item-text {
    margin-top: auto;
    margin-left: auto;
    text-align: right;
    font-weight: 700;
    z-index: 2;
}
/////////////////////////////////////////////////////////
.composition__features {
    margin-top: 22px;
    margin-bottom: 40px;
}

.composition__features-item {
    display: flex;
    line-height: 1.25;
    flex-direction: row;
    max-width: 485px;
    margin-left: auto;
    margin-right: auto;

    &:not(:last-child) {
        margin-bottom: 40px;
    }

    &:before {
        content: '';
        flex-shrink: 0;
        width: 7px;
        height: 7px;
        border-radius: 30px;
        margin-top: 7px;
        margin-right: 20px;
        background-color: $green;
    }
}

.composition__btn {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}


@media screen and (min-width: 768px) {
    .composition.section {
        margin-top: 100px;
    }

    .composition__features {
        margin-top: 41px;
    }

}

@media screen and (min-width: 1200px) {
    .composition .container {
        //т.к. список трав position absolute
        //и перестаёт влиять на высоту блока
        min-height: 897px;
    }

    .composition__title {
        text-align: left;
        max-width: 380px;
        margin-top: 99px;
        margin-right: 120px;
    }

    .composition__list {
        position: absolute;
        top: 1px;
    }

    .composition__features {
        margin-top: 40px;
    }
    
    .composition__features-item {
        margin-right: 15px;
    }

    .composition__btn {
        margin-right: 0;
    }
}