$grey:  #999999;

.footer {
    margin-top: 64px;
    padding-bottom: 80px;
}

.footer .container__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__logo {
    margin-bottom: 20px;
}

.footer__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 31px;
}

.footer__link {
    color: $grey;
    border-bottom: 1px solid $grey;
}

@media screen and (min-width: 768px) {
    .footer {
        margin-top: 85px;
        padding-bottom: 100px;
    }

    .footer .container__inner {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .footer__logo,
    .footer__links {
        margin: 0;
    }

    .footer__links  {
        order: 2;
        width: 100%;
        flex-direction: row;
        margin-top: 20px;
        justify-content: center;
    }
}

@media screen and (min-width: 1200px) {
    .footer {
        margin-top: 75px;
        padding-bottom: 26px;
    }

    .footer .container__inner {
        flex-wrap: nowrap;
    }
    
    .footer__links  {
        order: 0;
        margin-top: 0;
    }

    .footer__number-wrapper {
        flex-shrink: 0;
    }
}