.title-h1 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.25;
}

.title-h2 {
    font-size: 1.875rem;
    line-height: 1.25;
}

@media screen and (min-width: 1200px) {
    .title-h1 {
        font-size: 3.437rem;
    }

    .title-h2 {
        font-size: 2.5rem;
    }
}