html {
	box-sizing: border-box;
	font-size: 100%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	height: 100%;
	position: relative;
	font-family: 'Montserrat', sans-serif;
}

main {
	display: flex;
	flex-direction: column;
	height: 100%;
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

ul {
	padding: 0;
}

li {
	list-style-type: none;
}

button:focus,
input:focus {
	outline: transparent;
}

button {
	@include no-btn;
}

img {
	max-width: 100%;
	display: block;
}

a {
	text-decoration: none;
}

///DEBUG
BODY > * > * {
    outline: 2px solid deeppink;
}

BODY > * > * > * {
    outline: 2px dashed lime;
    outline-offset: -2px;
}

BODY > * > * > * > * {
    outline: 2px dotted dodgerblue;
    outline-offset: -4px;
}

HTML {
    background: url('../img/page-mobile.png') 50% 0 no-repeat;
}

@media (min-width: 768px) {
	HTML {
		background-image: url('../img/page-tablet.png');
	}
}

@media (min-width: 1200px) {
    HTML {
      background-image: url('../img/page-desktop-1.png');
    }
  }

@media (min-width: 1920px) {
    HTML {
      background-image: url('../img/page-desktop-2.png');
    }
  }

  BODY {
    opacity: .5;
  }
//

.flex {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

.--just-space {
	justify-content: space-between;
}

.--just-center {
	justify-content: center;
}

.--just-end {
	justify-content: flex-end;
}

.--align-str {
	align-items: stretch;
}

.--align-center {
	align-items: center;
}

.--align-end {
	align-items: flex-end;
}