<section class="composition section">
    <div class="container">
        <div class="container__inner">
            <h2 class="composition__title title-h2">Состав бальзама «Swedish Bitter»</h2>

            <ul class="composition__list">
                <li class="composition__list-item">
                    <p class="composition__list-item-number">— 01</p>
                    <p class="composition__list-item-text">Корень дягиля (дудника)<br>
                        лекарственного</p>
                </li>

                <li class="composition__list-item">
                    <p class="composition__list-item-number">— 02</p>
                    <p class="composition__list-item-text">Колючник<br>
                        бесстебельный</p>
                </li>

                <li class="composition__list-item">
                    <p class="composition__list-item-number">— 03</p>
                    <p class="composition__list-item-text">Натуральная<br>
                        камфора</p>
                </li>

                <li class="composition__list-item">
                    <p class="composition__list-item-number">— 04</p>
                    <p class="composition__list-item-text">Высушенный сок из<br> ствола ясеня манного</p>
                </li>

                <li class="composition__list-item">
                    <p class="composition__list-item-number">— 05</p>
                    <p class="composition__list-item-text">Мирра<br>
                        горькая</p>
                </li>

                <li class="composition__list-item composition__list-item--secret">
                    <p class="composition__list-item-text">Смесь трав по рецепту<br> Марии Трэбэн</p>
                </li>

            </ul>

            <ul class="composition__features">
                <li class="composition__features-item">Все травы, входящие в сбор, собраны в альпийском заповеднике «Гуркталь» и имеют немецкий сертификат качества.</li>
                <li class="composition__features-item">Строго выверенные пропорции каждого компонента в составе</li>
                <li class="composition__features-item">Все травы в составе бальзама обладают сильным очищающим воздействием, при этом каждый из компонентов усиливает действие остальных.</li>
                <li class="composition__features-item">Соединяясь вместе они создают мощный очищающий эффект. Как оказалось, именно за счет этого эффекта бальзам способен исцелять многие болезни.</li>
            </ul>
            <a href="" class="composition__btn btn">
                <p class="btn__text">Заказать бальзам</p>
            </a>
        </div>
    </div>
</section>