<section class="guarantee section">
    <div class="container">
        <div class="container__inner">
            <h2 class="guarantee__title title-h2">Гарантия качества</h2>
        </div>
        <div class="container">
            <div class="guarantee__background"></div>
            <div class="container__inner">
                <img class="guarantee__img" src="img/sertificate.jpg" alt="">
                <div class="container__inner-wrapper">
                    <p class="guarantee__text">Если бальзам вам не понравится, мы вернем деньги. Сразу и без лишних
                        вопросов. Мы дорожим своей репутацией и уверены в продукте на 100%</p>
                    <div class="guarantee__cta cta cta--labelled">
                        <div class="cta__wrapper">
                            <span class="cta__label">Но:</span>
                            <p class="cta__text">Этот эликсир – именно то средство, которое вам всегда захочется иметь
                                дома в аптечке и рекомендовать своим близким.<br><br>
                                К каждой упаковке бальзама «Swedish Bitter» мы прикладываем немецкий сертификат
                                качества.</p>
                            <a href="" class="cta__btn btn">
                                <p class="btn__text">Заказать бальзам</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>