<header class="header">
    <div class="container">
        <div class="container__inner">
            <div class="header__logo-wrapper">
                <img src="img/logo.png" alt="" class="header__logo logo">
                <span class="logo__text">Доставка по всей России</span>
            </div>

            <a href="tel:880000000000" class="header__number-wrapper phone">
                <p class="phone__number">8 800 000-00-00</p>
                <p class="phone__number-tip">Звонок бесплатный</p>
            </a>
        </div>
    </div>
</header>