<footer class="footer">
    <div class="container">
        <div class="container__inner">
            <img src="img/logo.png" alt="" class="footer__logo logo">
            <ul class="footer__links">
                <li class="footer__item">
                    <a href="#" class="footer__link">Политика конфиденциальности</a>
                </li>
                <li class="footer__item">
                    <a href="#" class="footer__link">Отказ от ответственности</a>
                </li>    
                <li class="footer__item">
                    <a href="#" class="footer__link">Согласие с рассылкой</a>
                </li>     
            </ul>

            <a href="tel:880000000000" class="footer__number-wrapper phone">
                <p class="phone__number">8 800 000-00-00</p>
                <p class="phone__number-tip">Звонок бесплатный</p>
            </a>
        </div>
    </div>
</footer>