<section class="atf">
    <div class="container">
        <div class="container__inner">
            <div class="atf__top">
                <div class="atf__text-wrapper">
                    <p class="atf__top-text">Бальзам</p>
                    <h1 class="atf__title">«Swedish bitter»</h1>
                    <p class="atf__bottom-text">Не имеет аналогов в мире по оздоровительной силе и широте лечебных
                        свойств</p>
                </div>
            </div>
            <div class="atf__bottom">
                <img src="img/swedish-bitter.png" class="atf__image" alt="">
                <a href="" class="atf__btn btn">
                    <p class="btn__text">Узнать подробнее</p>
                </a>
            </div>
        </div>
    </div>
</section>