<section class="factoids">
    <div class="container">
        <div class="container__inner">
            <ul class="factoids__list">
                <li class="factoids__item">
                    <div class="factoids__left-wrapper">
                        <img src="img/green-circle.svg" alt="">
                    </div>
                    <div class="factoids__right-wrapper">
                        <p class="factoids__item-number">1978 <span>г.</span></p>
                        <p class="factoids__item-description">Европейцы используют
бальзам «Swedish Bitter» 
еще с 1978 года</p>
                    </div>
                </li>
                <li class="factoids__item">
                    <div class="factoids__left-wrapper">
                        <img src="img/green-circle.svg" alt="">
                    </div>
                    <div class="factoids__right-wrapper">
                        <p class="factoids__item-number">104 <span>года</span></p>
                        <p class="factoids__item-description">104 года прожил автор бальзама</p>
                    </div>
                </li>
                <li class="factoids__item">
                    <div class="factoids__left-wrapper">
                        <img src="img/green-circle.svg" alt="">
                    </div>
                    <div class="factoids__right-wrapper">
                        <p class="factoids__item-number">40 <span>показаний</span></p>
                        <p class="factoids__item-description">Больше 40 показаний
к применению</p>
                    </div>
                </li>
                <li class="factoids__item">
                    <div class="factoids__left-wrapper">
                        <img src="img/green-circle.svg" alt="">
                    </div>
                    <div class="factoids__right-wrapper">
                        <p class="factoids__item-number">24 <span>языка</span></p>
                        <p class="factoids__item-description">8 млн книг на 24 языках
продано о бальзаме</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>