<section class="sympthoms section">
    <div class="container">
        <div class="container__inner">
            <h2 class="sympthoms__title title-h2">Что из этого списка вы находите у себя?</h2>
        </div>
        </div>
    <div class="container container-content">
        <div class="container__inner">

            <div class="col-1">
                <div class="sympthoms__accordion accordion">
                    <button class="accordion__button">
                        <span class="accordion__button-number">01.</span>
                        <p class="accordion__button-text">Сниженный тонус, не хватает энергии</p>
                        <img class="accordion__button-arrow" src="img/arrow.svg" alt="">
                    </button>
                    <div class="accordion__panel">
                        <p>Ну вот и всё, можно сказать вы одной ногой в могиле. Каждый школьник знает, что при снижении
                            тонуса нужно сразу бежать в аптеку за «Swedish bitter». Давайте быстрее, а то можно и на
                            полпути откинуться!</p>
                    </div>

                    <button class="accordion__button">
                        <span class="accordion__button-number">02.</span>
                        <p class="accordion__button-text">Прыщи, бородавки и растяжки</p>
                        <img class="accordion__button-arrow" src="img/arrow.svg" alt="">
                    </button>
                    <div class="accordion__panel">
                        <p>Ну вот и всё, можно сказать вы одной ногой в могиле. Каждый школьник знает, что при снижении
                            тонуса нужно сразу бежать в аптеку за «Swedish bitter». Давайте быстрее, а то можно и на
                            полпути откинуться!</p>
                    </div>

                    <button class="accordion__button">
                        <span class="accordion__button-number">03.</span>
                        <p class="accordion__button-text">Слабая память и концентрация</p>
                        <img class="accordion__button-arrow" src="img/arrow.svg" alt="">
                    </button>
                    <div class="accordion__panel">
                        <p>Ну вот и всё, можно сказать вы одной ногой в могиле. Каждый школьник знает, что при снижении
                            тонуса нужно сразу бежать в аптеку за «Swedish bitter». Давайте быстрее, а то можно и на
                            полпути откинуться!</p>
                    </div>

                    <button class="accordion__button">
                        <span class="accordion__button-number">04.</span>
                        <p class="accordion__button-text">Болеете чаще раза в год?</p>
                        <img class="accordion__button-arrow" src="img/arrow.svg" alt="">
                    </button>
                    <div class="accordion__panel">
                        <p>Ну вот и всё, можно сказать вы одной ногой в могиле. Каждый школьник знает, что при снижении
                            тонуса нужно сразу бежать в аптеку за «Swedish bitter». Давайте быстрее, а то можно и на
                            полпути откинуться!</p>
                    </div>

                    <button class="accordion__button">
                        <span class="accordion__button-number">05.</span>
                        <p class="accordion__button-text">Головные боли</p>
                        <img class="accordion__button-arrow" src="img/arrow.svg" alt="">
                    </button>
                    <div class="accordion__panel">
                        <p>Ну вот и всё, можно сказать вы одной ногой в могиле. Каждый школьник знает, что при снижении
                            тонуса нужно сразу бежать в аптеку за «Swedish bitter». Давайте быстрее, а то можно и на
                            полпути откинуться!</p>
                    </div>

                    <button class="accordion__button">
                        <span class="accordion__button-number">06.</span>
                        <p class="accordion__button-text">Синяки, шишки, ожоги, порезы долго не проходят</p>
                        <img class="accordion__button-arrow" src="img/arrow.svg" alt="">
                    </button>
                    <div class="accordion__panel">
                        <p>Ну вот и всё, можно сказать вы одной ногой в могиле. Каждый школьник знает, что при снижении
                            тонуса нужно сразу бежать в аптеку за «Swedish bitter». Давайте быстрее, а то можно и на
                            полпути откинуться!</p>
                    </div>

                    <button class="accordion__button">
                        <span class="accordion__button-number">07.</span>
                        <p class="accordion__button-text">Плохо засыпаете и часто просыпаетесь</p>
                        <img class="accordion__button-arrow" src="img/arrow.svg" alt="">
                    </button>
                    <div class="accordion__panel">
                        <p>Ну вот и всё, можно сказать вы одной ногой в могиле. Каждый школьник знает, что при снижении
                            тонуса нужно сразу бежать в аптеку за «Swedish bitter». Давайте быстрее, а то можно и на
                            полпути откинуться!</p>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="sympthoms__image"></div>
                <a href="" class="sympthoms__btn btn">
                    <p class="btn__text">Избавиться от проблем</p>
                </a>
            </div>

        </div>
    </div>
</section>