<section class="bonuses section">
    <div class="container">
        <div class="container__inner">
            <h2 class="bonuses__title title-h2">Что вы получите вместе с бальзамом «Swedish Bitter»?</h2>
        </div>
        <div class="container__inner">
            <ul class="bonuses__list">
                <li class="bonuses__item">
                    <p class="bonuses__item-text">Сбор трав</p>
                </li>
                <li class="bonuses__item">
                    <p class="bonuses__item-text">Инструкция по применению</p>
                </li>
                <li class="bonuses__item">
                    <p class="bonuses__item-text">Сертификат качества</p>
                </li>
            </ul>
        </div>
    </div>
</section>